.conhecimento-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}


.title {
    margin-top: 10px;
}

.card {
    width: 35rem; 
    margin: 10px 0px 0px 0px;
}

@media screen and (max-width: 1170px) {
    .card {
        width: 30rem; 
        margin: 10px 0px 0px 0px;
    }
}

@media screen and (max-width: 1000px) {
    .card {
        width: 25rem; 
        margin: 10px 0px 0px 0px;
    }
}

@media screen and (max-width: 840px) {
    .conhecimento-container {
        grid-template-columns: 1fr;
    }
    .card {
        width: 30rem; 
        margin: 10px 0px 0px 0px;
    }
}

@media screen and (max-width: 510px) {
    .conhecimento-container {
        grid-template-columns: 1fr;
    }
    .card {
        width: 25rem; 
        margin: 10px 0px 0px 0px;
    }
}

@media screen and (max-width: 430px) {
    .conhecimento-container {
        grid-template-columns: 1fr;
    }
    .card {
        width: 20rem; 
        margin: 10px 0px 0px 0px;
    }
}