.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-title {
    text-align: center;
}

.blocx-left {
    background-image: linear-gradient(to top, #8C8C8C 0%, #8C8C8C 40%, #0d0d0d 60%, #0D0D0D 100%);
    background-size: 200% 200%;
    animation: gradientEffectLeft 2s linear infinite alternate;
    border: 3px solid black;
    border-radius: 10px 10px 0px 0px;
}

.blocx-right {
    background-image: linear-gradient(to bottom, #8C8C8C 0%, #8C8C8C 40%, #0d0d0d 60%, #0d0d0d 100%);
    background-size: 200% 200%;
    animation: gradientEffectRight 4s linear infinite alternate;
    border: 3px solid black;
    border-top: 1px solid black;
    border-radius: 0px 0px 10px 10px;
}

h2 {
    text-align: justify;
}

@keyframes gradientEffectLeft {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 100%;
    }
}

@keyframes gradientEffectRight {
    from {
        background-position: 100 100;
    }

    to {
        background-position: 100% 100%;
    }
}

h1 {
    padding: 0 20px;
    color: white;
    font-weight: 600;
}

h2 {
    font-weight: 400;
}

.cur > h2 {
    margin: 0px 100px;
}

@media screen and (max-width: 1470px) {
    h1 {
        font-size: 18pt;
    }

    h2 {
        font-size: 16pt;
    }
}

@media screen and (max-width: 1180px) {
    h1 {
        font-size: 16pt;
    }

    h2 {
        font-size: 12pt;
    }
}

@media screen and (max-width: 1070px) {
    .title {
        margin-top: 10px;
        display: block;
        text-align: center;
    }

    h1 {
        font-size: 16pt;
    }

    h2 {
        font-size: 12pt;
    }

    .cur>h2 {
        margin: 0px 50px;
    }
}